@import "tailwindcss";

@theme {
  --color-primary: #242424;
  --color-second: #a6a6a6;
  --color-yellow: #ffde59;
  --color-yellow-light: #f7db6f;
  --color-orange: #ff914d;
  --color-white: #ffffff;

  --font-display: "Poppins", sans-serif;
}

body {
  scrollbar-width: thin;
  scrollbar-color: #24242465 var(--color-white);

  * {
    scrollbar-width: thin;
  }
}

::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
  background: var(--color-white);
}

::-webkit-scrollbar-thumb {
  background-color: #24242465;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #242424;
}

#table-container {
  scrollbar-width: thin;
}

@media (width < 48rem) {
  #header-nav {
    transition: all 0.5s;
    right: 0;
  }

  #header-nav.active {
    top: 0;
  }

  #header-nav.active + div {
    display: block;
    z-index: 1;

    backdrop-filter: blur(3px);
  }
}

.coins-table {
  thead {
    th {
      background-color: var(--color-second);
      padding: 0.5rem;
    }
  }

  tbody {
    td {
      border-top: 0.6rem solid white;
      background-color: var(--color-yellow);
      padding: 0.5rem;
      padding-inline: 0.7rem;
    }

    td:nth-child(3) {
      text-align: right;
    }

    td:nth-child(2) {
      text-align: center;
    }
  }
}

form {
  input,
  select {
    outline: none;
  }

  select {
    border: 2px solid transparent;

    option:not([selected]) {
      color: var(--color-second);
    }
  }

  input.error {
    border-radius: 0.7rem;
    border: 2px solid var(--color-red-500);

    option[selected] {
      color: var(--color-red);
    }
  }

  select.error {
    border-bottom: 2px solid var(--color-red-500);
    color: var(--color-red-500);
  }
}

.loading {
  display: block;

  width: 60px;
  height: 60px;

  background-color: transparent;

  border-radius: 100%;
  border: 0.5rem solid var(--color-orange);
  border-top: 0.5rem solid transparent;
  animation: spin 2s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
