@import "tailwindcss";

@theme {
  --color-primary: #242424;
  --color-second: #a6a6a6;
  --color-yellow: #ffde59;
  --color-orange: #ff914d;
  --color-white: #ffffff;

  --font-display: "Poppins", sans-serif;
}

.coins-table {
  thead {
    th {
      background-color: var(--color-second);
      padding: 0.5rem;
    }
  }

  tbody {
    td {
      border-top: 0.6rem solid white;
      background-color: var(--color-yellow);
      padding: 0.5rem;
      padding-inline: 0.7rem;
    }
    td {
    }

    td:nth-child(3) {
      text-align: right;
    }
    td:nth-child(2) {
      text-align: center;
    }
  }
}
